/**
 * Body CSS
 */
html, body {
  height: 100%;
}

html, body, input, textarea, buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Header CSS
 */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

#title {
  padding: 60px;
}

/**
 * Content CSS
 */
#content-wrapper {
  min-height: 100%;

  /* sticky footer */
  margin-bottom: -100px;
  padding-bottom: 100px;
}

#content-bar {
  font-size: large;
  line-height: 1.6;
  text-align: justify;

  padding-left: 20%;
  padding-right: 20%;
}

/**
 * Footer CSS
 */
footer {
  height: 100px;
  background-color: #eee;
  border-top: 1px solid #e0e0e0;
  padding-top: 35px;
}

/**
 * Control Box
 */
#control-box {
  width: 100%;
}

#ical_link {
  width: 100%;
  font-family: monospace;
}

/**
 * Section styling
 */
ul#sections {
  list-style-type: none;
  list-style-position: outside;
  padding: 0px;
  margin: 15px;
}

.section {
  color: black;
  text-align: left;
  width: 100%;

  outline: 0;
  overflow: hidden;


  border: none;
  touch-action: manipulation;
  background-image: none;

  transition: background-color 0.2s ease-in-out,
              padding 0.4s ease-in-out;
}

.section:hover,.section:active {
  outline: none;
  color: black;

  text-decoration: none;
  background-color: #eef;
}

.section:focus {
  outline: none;
  color: black;
  text-decoration: none;
}

.section.active,.section.active:hover {
  background-color: #ccf;
  padding: 0px inherit;
}

.section-info {
  height: auto;
  overflow: hidden;
  max-height: 500px;

  transition: opacity 0.4s ease-in-out,
              max-height 0.4s ease-in-out;
}
.section.active .section-info {
  max-height: 0;
  opacity: 0;

  transition: all 0.4s ease;
}

.section::-moz-focus-inner {
  border: 0;
}

.section .mui-panel {
  background-color: inherit;
}
