{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>Deschedule</title>
{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">
$(document).ready(function() {
  console.log('Loading class sections...');
  api_classes('umbc', 'SPRING2016', function(resp) {
    var items = [];
    console.log(resp);
    $.each(resp['data'], function(key, val) {
      console.log(val);
      items.push('<li><div class="section">' + val.class_code
          + ' section ' + val.number + '</div></li>');
    });

    $('#sections').html(items.join(""));
  });
});
</script>
{% endblock %}

{% block content %}
{{ super() }}
<div id="title" class="mui--text-center">
  <div class="mui--text-display3">Deschedule</div>
  <div class="mui--text-display1">Simplify your Academic Calendar</div>
</div>

<div id="description">
  Deschedule is a free web service that collects lists of University class
  schedules, and generates event calendars that can be imported into any other
  calendar application. To use it, you don't need to make an account or log in.
  Enter your school, the classes (and section numbers) that you are in, and import
  the resulting URL into your calendar app.
</div>

<ul id="sections"></ul>

{% endblock %}
