{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>Deschedule</title>
{% endblock %}

{% block content %}
{{ super() }}
<div id="title" class="center-align">
  <h2>Deschedule</h2>
  <h4>Simplify your Academic Calendar</h4>
</div>

<p class="flow-text">
  Deschedule is a free web service that collects lists of University class
  schedules, and generates event calendars that can be imported into any other
  calendar application. To use it, you don't need to make an account or log in.
  Enter your school, the classes (and section numbers) that you are in, and import
  the resulting URL into your calendar app.
</p>

<ul id="sections-selected"></ul>

<div id="control-box">
  <div class=>
    <input id="ical_link"
           type="text"
           readonly="readonly" placeholder="iCalendar link">
    </input>
  </div> <br/>

  <form class="row">
    <div class="input-field col s2">
      <select disabled>
        <option value="UMBC" selected>UMBC</option>
      </select>
    </div>
    <div class="input-field col s2 offset-s1">
      <select disabled>
        <option value="SPRING2016" selected>SPRING2016</option>
      </select>
    </div>
    <div class="input-field col s6 offset-s1">
      <i class="material-icons prefix">search</i>
      <input id="search" type="text" placeholder="ENGL101" disabled>
      <label for="search">Search</label>
    </div>
  </form>
</div>


<div id="results">
  <div class="preloader-wrapper active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

  <div id="sections-container">
    <ul id="sections"></ul>

    <ul>
      <li>
        <div id="addsection" class="card">
          <div class="card-content activator">
            <span class="card-title">
              Missing a Section?
              <i class="material-icons right">add</i>
            </span>
            <p>Please add it.</p>
          </div>
          <div class="card-reveal">
            <span class="card-title">
              Add a Section
              <i class="material-icons right">close</i>
            </span>
            <p>Form</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">

$(document).ready(function() {
  $('ul.schools li a').click(function() {
    $('#school_dropdown_label').html($(this).html());
  });
});

$(document).ready(function() {
  fill_all_sections('umbc', 'spring2016', function(resp) {
    $('.section').click(function(event) {
      $(this).toggleClass('active');
    });
    $('.section').click(function() {
      section_ids = []
      $('.section.active').each(function(index, section) {
        section_ids.push($(this).attr('data-classcode') + '.' + $(this).attr('data-number'));
      });

      to_ical = $('#to_ical');
      ical_link = $('#ical_link');
      if(section_ids.length > 0) {
        to_ical.removeAttr('disabled');
        ical_link.removeAttr('disabled');
        ical_link.attr('value', window.location.href +
            construct_schedule_url('umbc', 'spring2016', section_ids));
      } else {
        to_ical.attr('disabled', 'disabled');
        ical_link.attr('disabled', 'disabled');
        ical_link.attr('value', '');
      }
    });
  });
});

$(document).ready(function() {
  $('#to_ical').click(function(event) {
    section_ids = []
    $('.active').each(function(index, section) {
      section_ids.push($(this).attr('data-classcode') + '.' + $(this).attr('data-number'));
    });

    location.href = construct_schedule_url('umbc', 'spring2016', section_ids);
  });
});

$(document).ready(function() {
  $('#ical_link').focus(function() {
    $(this).select();
  });
});

</script>
{% endblock %}

