{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>Deschedule</title>
{% endblock %}

{% block content %}
{{ super() }}
<div id="title" class="center-align teal-text darken-4">
  <h2>Deschedule</h2>
  <h4>Simplify your Academic Calendar</h4>
</div>

<p class="flow-text">
  Deschedule is a free web service that collects lists of University class
  schedules, and generates event calendars that can be imported into any other
  calendar application. To use it, you don't need to make an account or log in.
  Enter your school, the classes (and section numbers) that you are in, and import
  the resulting URL into your calendar app.
</p>

<ul id="sections-selected"></ul>

<div id="control-box">
  <div>
    <div id="section_chips"></div>
    <input id="ical_link"
           type="text"
           readonly="readonly" placeholder="iCalendar link">
    </input>
  </div> <br/>

  <div class="row">
    <form id="context">
      <div name="school" class="input-field col s3">
        <select disabled>
          <option value="UMBC" selected>UMBC</option>
        </select>
      </div>
      <div name="semester" class="input-field col s3">
        <select>
          {%- for semester in semesters %}
          <option value="{{semester.name}}"
                  {% if loop.first %}selected{% endif %}>
          {{semester.name}}
          </option>
          {%- endfor %}
        </select>
      </div>
    </form>
    <form id="search">
      <div class="input-field col s4">
        <i class="material-icons prefix">search</i>
        <input name="classes"
               type="text"
               validate
               pattern="([A-Z]+[0-9]+)(, ?[A-Z]+[0-9]+)*"
               placeholder="ENGL101, MATH151, CMSC201">
        <label for="classes">Search Classes</label>
      </div>
      <div class="input field col s2">
        <input type="submit"
               value="Search"
               class="modal-action waves-effect teal lighten-3 btn-flat">
      </div>
    </form>
  </div>
</div>


<div id="results" class="nosearch">
  <div id="spinner" class="preloader-wrapper">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

  <div id="sections-container">
    <ul id="messages">
      <li>
        <div id="message-nosearch"
             class="card-title grey-text lighten-1 center-align message">
          Classes you search for will show up here.
        </div>
      </li>
      <li>
        <div id="message-noresults"
             class="card-title grey-text lighten-1 center-align message">
          No results.
        </div>
      </li>
    </ul>


    <ul id="sections"></ul>

    <ul>
      <li>
        <div id="addsection-card"
             href="#addsection-modal"
             class="card modal-trigger waves-effect hoverable teal lighten-2">
          <div class="card-content">
            <span class="card-title">
              Missing a Section?
              <i class="material-icons right">add</i>
            </span>
            <p>Please add it.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div id="addsection-modal" class="modal">
  <form id="addsection">
    <div class="modal-content">
      <div class="row">
        <div class="input-field col s4">
          <input id="addsection-class_code"
                 name="class_code"
                 type="text"
                 placeholder="ENGL101"
                 class="validate"
                 required
                 pattern="[A-Z]{3,4}[0-9]{3}">
          <label for="class_code">Class Code</label>
        </div>
        <div class="input-field col s4">
          <input id="addsection-number"
                 name="number"
                 type="number"
                 min="0"
                 class="validate">
          <label for="number">Section Number</label>
        </div>
        <div name="kind" class="input-field col s4">
          <select>
            {%- for kind in section_kinds %}
            <option value="{{kind}}" {% if loop.first %}selected{% endif %}>{{kind}}</option>
            {%- endfor %}
          </select>
          <label>Section Type</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3">
          <input id="addsection-monday" name="monday" class="filled-in" type="checkbox">
          <label for="addsection-monday">Monday</label>
          <br>
          <input id="addsection-tuesday" name="tuesday" class="filled-in" type="checkbox">
          <label for="addsection-tuesday">Tuesday</label>
        </div>
        <div class="input-field col s3">
          <input id="addsection-wednesday" name="wednesday" class="filled-in" type="checkbox">
          <label for="addsection-wednesday">Wednesday</label>
          <br>
          <input id="addsection-thursday" name="thursday" class="filled-in" type="checkbox">
          <label for="addsection-thursday">Thursday</label>
        </div>
        <div class="input-field col s3">
          <input id="addsection-friday" name="friday" class="filled-in" type="checkbox">
          <label for="addsection-friday">Friday</label>
        </div>
        <div class="input-field col s3">
          <input id="addsection-saturday" name="saturday" class="filled-in" type="checkbox">
          <label for="addsection-saturday">Saturday</label>
          <br>
          <input id="addsection-sunday" name="sunday" class="filled-in" type="checkbox">
          <label for="addsection-sunday">Sunday</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input id="addsection-time"
                 name="time"
                 type="text"
                 placeholder="01:00 PM"
                 class="validate"
                 required
                 pattern="[012]?[0-9]:[0-9][0-9]( [aApP]\.?[mM]\.?)?">
          <label for="time">Time</label>
        </div>
        <div class="input-field col s4">
          <input id="addsection-length"
                 name="length"
                 type="number"
                 min="0"
                 value="75"
                 class="validate"
                 required>
          <label for="length">Minutes</label>
        </div>
        <div class="input-field col s4">
          <input id="addsection-room"
                 name="room"
                 type="text"
                 class="validate"
                 pattern="[A-Z]+[0-9]+">
          <label for="room">Room</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="addsection-instructor"
                 name="instructor"
                 type="text"
                 placeholder="Jane Doe"
                 class="validate">
          <label for="instructor">Instructor</label>
        </div>
        <div class="input-field col s6">
          <input id="addsection-email"
                 name="email"
                 type="email"
                 class="validate">
          <label for="email">Instructor Email</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="input-field left">
        <a href="#!"
           class="modal-action modal-close waves-effect red lighten-2 btn-flat">Cancel</a>
      </div>

      <div class="input-field right">
        <input id="submit"
               type="submit"
               class="modal-action waves-effect teal lighten-3 btn-flat">
        <label for="submit">Add Section</label>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">

// Flush the pre-loaded sections, and display any messages in the results box.
$(document).ready(function() {
  show_sections([]);
});

$(document).ready(function() {
  $('#addsection').submit(function(event) {
    $('#addsection').addClass('submitting');
    event.preventDefault();
    var $inputs = $('#addsection :input');
    var values = {}
    $inputs.each(function() {
      if($(this).attr('type') == 'checkbox') {
        values[this.name] = $(this).is(':checked');
      } else {
        values[this.name] = $(this).val();
      }
    });
    values['kind'] = $('div[name="kind"] input').val();

    var url = '/api/' + get_school() + '/semester/' + get_semester() +
      '/class/' + values['class_code'] + '/' + values['number'];
    var data = {
      kind: values['kind'],
      time: values['time'],
      length: values['length'],
      instructor: values['instructor'],
      email: values['email'],
      room: values['room'],
      days: format_days(values['monday'], values['tuesday'], values['wednesday'],
          values['thursday'], values['friday'],
          values['saturday'], values['sunday'])
    }
    console.log('Submitting section: ', url, data);

    $.post(url, data, function(resp) {
      console.log('Section added successfully.');
      $('#addsection').removeClass('submitting');
      $('ul#sections').append(style_section(resp['data'], ['active', 'new']));

      // Transition the new section in. Copied right from
      // Materialize/js/transitions.js.
      var new_section = $('ul#sections li .section.new');
      var new_section_item = new_section.parent();
      new_section_item.velocity(
          { translateX: "-100px" },
          { duration: 0 });
      new_section_item.velocity(
          { opacity: "1", translateX: "0" },
          { duration: 800, easing: [60, 10] });
      new_section.removeClass('new');

      select_section(new_section.attr('data-sectionid'));
      refresh_chips(selected_sections);
    });
  });

});

var searched_classes = [];
$(document).ready(function() {
  $('#search').submit(function(event) {
    event.preventDefault();
    // Get the list of classes, and filter out empty strings.
    var classes = $('#search :input[name="classes"]').val();
    searched_classes = classes.split(',').filter(function(el) { return el; });

    // If there are no classes to search, abort.
    if(searched_classes.length == 0) {
      return false;
    }

    var url = '/api/' + get_school() + '/semester/' + get_semester() +
      '/search/' + classes;
    console.log('Loading sections from search: ' + classes);

    // Trigger loading indicator.
    $('#spinner').addClass('active');

    $.getJSON(url, function(resp) {
      // Remove the nosearch class, because we have preformed a search.
      $('#results').removeClass('nosearch');

      if(resp['data'].length > 0) {
        $('#results').removeClass('noresults');
      } else {
        $('#results').addClass('noresults');
      }
      show_sections(resp['data']);
    });

    // Reset the addsection form, and prefill with the first searched section, if any.
    $('#addsection')[0].reset();
    if(searched_classes) {
      $('#addsection input[name="class_code"]').val(searched_classes[0]);
    }
  });

  // Fire the event once so that any prefilled search loads.
  if($('#search :input[name="classes"]').val()) {
    $('#search').submit();
  }
});


$(document).ready(function() {
  $('ul.schools li a').click(function() {
    $('#school_dropdown_label').html($(this).html());
  });
});

$(document).ready(function() {
  $('#ical_link').focus(function() {
    $(this).select();
  });
});

function section_click(element) {
  $(element).toggleClass('active');

  var section_id = $(element).attr('data-sectionid');

  // If the element is now active, add a chip, and add it to the list of selected ones.
  if($(element).is('.active')) {
    select_section(section_id);
  } else {
    deselect_section(section_id);
  }
  console.log('Now selected: ' + selected_sections);
  refresh_chips(selected_sections);

  ical_link = $('#ical_link');
  if(selected_sections.length > 0) {
    ical_link.removeAttr('disabled');
    ical_link.attr('value', window.location.href +
        construct_schedule_url(get_school(), get_semester(), selected_sections));
  } else {
    ical_link.attr('disabled', 'disabled');
    ical_link.attr('value', '');
  }
}

</script>
{% endblock %}

